
// Variables

// # Contents
// 1. Theme Skin
// 2. Theme Settings
// 3. Theme Variables
// 4. Plugin Variables


// 1. Theme Skin
// 2. Theme Settings
// 3. Theme Variables

@include set(
	(
		layout: (
			container: (
				max-width-desktop: 1600px
			)
		),
		header: (
			middle: (
				color: $primary-color-dark
			),
			logo: (
				max-width: 270px,
				max-width-mobile: 180px
			),
			top-notice: (
				link-background: $primary-color-dark
			),
			search: (
				height: 40px,
				divider: 1px solid #fff,

				border: (
					width: 50px,
					color: $primary-color
				),
				btn: (
					min-width: 40px
				),
				select: (
					padding-left: 15px,
					padding-right: 14px
				)
			),
			separator: (
				space: 14px
			),
			social-icon: (
				space: 3px
			)
		),
		menu: (
			main: (
				top: (
					space: 35px
				)
			)
		),
		footer: (
			widget: (
				title: (
					color: #fff
				)
			)
		),
		breadcrumb: (
			border-bottom: 0
		)
	)
);

// 4. Plugin Variables